
/* common styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    cursor: pointer;
}

/* header styles */

.header {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-content {
    width: 50%;
    margin: 100px 20px 55px 150px;
}

.banner-content>h1 {
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-content>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}


.banner-image {
    width: 50%;
    padding-top: 82px;
    padding-left: 10px;
}

.banner-image>img {
    width: 500px;
    padding-left: 10px;
}


/* main styles  */

/* featured flowers section */


.featured-flowers-section {
    margin-top: 125px;
}

.featured-flowers-section>h1 {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.featured-flowers-section>p {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}


.featured-flowers-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

.p-tulip {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 375px;
    height: 450px;
    position: relative;

}

.bouquet {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 375px;
    height: 450px;
    position: relative;
}

.y-tulip {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 375px;
    height: 450px;
    position: relative;
}

.featured-flower-photo {
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.featured-flower-b-photo {
    width: 250px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.flower-items {
    display: flex;
    justify-content: space-evenly;
    gap: 225px;
    list-style: none;
    width: 80%;
    margin: 20px auto;
}

.flower-items h3 {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.service-section {
    display: flex;
    width: 70%;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    justify-content: space-between;
    text-align: center;
    margin: 100px auto;
    padding: 50px 80px;
}

.service-section img {
    width: 70px;
}

.service-section h3 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
}


/* hot deal section */

.hot-deal-section {
    background-color: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
}

.hot-deal-content {
    width: 60%;
    text-align: center;
    padding: 120px 120px 100px 220px;
}

.hot-deal-image {
    width: 40%;
}


.hot-deal-content > h2 {
    color: #272727;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hot-deal-content > p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

#primary-color {
    color: #E55473;
}


.hot-deal-image>img {
    width: 240px;
}

/* social section  */

.social-section {
    text-align: center;
    margin-top: 100px;
}

.social-section > h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.social-section > p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.social-images {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.insta-photos {
    width: 290px;
}

/* coupon section  */

.coupon-section {
    background-image: url("../FlowerAsset/Rectangle\ 9.png");
    background-size: cover;
    /* background-position: center; */
    width: 80%;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px; 
    height: 40vh;
}

.coupon-section > h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.coupon-section > p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

input[type="email"] {
    background-color: #FFF;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 13px 300px 13px 20px; 

}

input[type="submit"] {
    background-color: #E55473;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
}

